In [2]:
from simple_salesforce import Salesforce
import configparser
import pandas as pd
from collections import defaultdict

### SOQL Queries
1. **Right Outer Join:** SELECT Name, Engagement\__r.Department\__c FROM Experience\__c

1. **Left Outer Join:** SELECT Name, (SELECT Name FROM Tag_Experiences\__r) FROM Engagement\__c

1. **Left Inner Join:** SELECT Name FROM Engagement\__c WHERE Id IN (SELECT Engagement\__c FROM	Experience\__c)

1. **Right Inner Join:** SELECT Name, Engagement\__r.Name, FROM Experience\__c WHERE Engagement\__r.Dept\__c = ‘Sales’

1. **Full Join:** SELECT Name, Engagement\__r.Name, (SELECT Name, Tag\__c FROM Tag_Experiences\__r) FROM Experience\__c

## Munging Functions

In [3]:
def get_fields(record, query, child=0, parent=0):
    entry = {}
    
    for field in query["record_fields"]:
        entry[field] = record[field]
        
    if child:
        for field in query["child_fields"]:
            entry[field] = child[field]
            
    if parent:
        for field in query["parent_fields"]:
            entry[field] = parent[field]
            
    return entry

In [15]:
#function that accepts the result of a left outer join query with nested child dicts 
#and returns a list with a dict for each child record that also contains fields
#from the associated primary record
def flatten_left(result, query):
    records = [get_fields(record, query, child=child)
               for record in result["records"] if record[query["child_object"]] is not None 
               for child in record[query["child_object"]]["records"]]
    return records

In [54]:
#function that accepts the result of a right outer or inner join query with nested parent 
#dicts and returns a list with a dict for each primary record that also contains fields
#from the associated parent record
def flatten_right(result, query):
    records = [get_fields(record, query, parent=record[query["parent_object"]]) 
               for record in result["records"]]
    return records

In [14]:
#function that accepts the result of a full join with nested parent and child dicts
#and returns a list with a dict for each child record that also contains fields from
#the associated primary and parent records
def flatten_full(result, query):
    records = [get_fields(record, query, child=child, parent=record[query["parent_object"]])
               for record in result["records"] if record[query["child_object"]] is not None 
               for child in record[query["child_object"]]["records"]]
    return records

In [17]:
#function that accepts a non-nested result and returns a list with a dict for each record
def flatten_general(result, query):
    records = [get_fields(record, query) for record in result["records"]]
    return records

## Data Retrieval

In [18]:
config = configparser.ConfigParser()
config.read('../Salesforce/salesforce.ini')
sf = Salesforce(username=config['CREDENTIALS']['username'],
                password=config['CREDENTIALS']['password'], 
                security_token=config['CREDENTIALS']['token'],
                client_id='Jupyter')

In [19]:
#queries the tags associated with a specific position
position_reqs = sf.query("""SELECT Engagement__r.Host__c, Engagement__r.Title__c, 
                            Tag_Name__c, Tag_Type__c, Tag__c, Importance__c 
                            FROM Tag_Engagement__c WHERE Engagement__c = 'a0o1J00000EV9DB'""")

In [55]:
query_map2 = {"parent_object": "Engagement__r",
          "parent_fields": ["Host__c", "Title__c"],
          "record_object": "Tag_Engagement__c",
          "record_fields": ["Tag_Name__c", "Tag_Type__c", "Tag__c", "Importance__c"]}
requirements = flatten_right(position_reqs, query2)
tag_parameter = "','".join([x["Tag__c"] for x in requirements])

In [48]:
candidates = sf.query("""SELECT Id, (SELECT Tag__c, Tag_Name__c, Tag_Type__c 
                         FROM Tag_Items__r WHERE Tag__c IN ('%s'))
                         FROM Contact WHERE Id IN 
                         (SELECT Contact__c FROM Experience__c 
                         WHERE Engagement__c = 'a0o1J00000EIR34'
                         AND Round__c = 'Round 2')""" % (tag_parameter,))

## Recommendation Algorithm 1:
1. Select all of the matching tags from the candidates eligible for the role
1. Sort the list of candidates by the number of matching tags
1. Select the top $n$ candidates from the sorted list

In [22]:
#iterates through list of contact records and selects the count of tag item records
rankings1 = [{"Id": x["Id"], "Count": x["Tag_Items__r"]["totalSize"]} 
            for x in candidates["records"] if x["Tag_Items__r"] is not None]

#sorts list of contacts by number of tag item records and selects top 15
top_candidates = sorted(rankings1, key= lambda x: x["Count"], reverse=True)[:15]

## Recommendation Algorithm 2:
1. Select all of the matching tags from the candidates eligible for the role
1. Count the list of matching tags required and preferred separately
1. Sort the list of candidates by number of required tags then by number of preferred tags
1. Select the top $n$ candidates from the sorted list

In [24]:
query_map = {"record_object": "Experience__c", 
             "child_object": "Tag_Items__r",
             "record_fields": ["Id"],
             "child_fields": ["Tag_Type__c", "Tag__c", "Tag_Name__c"]}
rankings2_raw = flatten_left_outer(candidates, query_map)

In [25]:
#converts the requirements and the candidate qualifications to dataframes
df_rankings = pd.DataFrame(rankings2_raw)
df_requirements = pd.DataFrame(requirements)

#labels each tag with its corresponding importance from the list of requirements
df_join = df_rankings.merge(df_requirements[["Tag__c", "Importance__c"]], 
                  how="left", on="Tag__c")
df_join.head()

,Id,Tag_Name__c,Tag_Type__c,Tag__c,Importance__c
0,003o000000bK3q0AAC,Training,Responsibility,a0n1J00000gK1aGQAS,None
1,003o000000bK3q0AAC,Community Engagement,Responsibility,a0n1J00000gK1YhQAK,None
2,003o000000bK3q0AAC,Poverty,Focus Area,a0n1J00000hSN2GQAW,Preferred
3,003o000000bK3q0AAC,Programs and Services,Content,a0no000000dpHVMAA2,Required
4,003o000000bK3q0AAC,Strategy,Content,a0n1J00000hSN3ZQAW,Required

In [26]:
df_top = (df_join.groupby(["Id", "Importance__c"])["Tag__c"].count().reset_index()
                 .pivot(index="Id", columns="Importance__c", values="Tag__c").reset_index()
                 .sort_values(by=["Required","Preferred"], ascending=False, na_position="last"))
df_top.head()

Importance__c                  Id  Preferred  Required
0              0031J00001GUqKDQA1       15.0       9.0
68             003o0000013BwmbAAC       13.0       9.0
69             003o0000016GIIZAA4       13.0       9.0
7              0031J00001HdiPAQAZ       11.0       9.0
1              0031J00001GVyt3QAD       10.0       9.0

## Selecting Experiences

In [49]:
top_parameter = "', '".join(df_top.loc[:15]["Id"])
top_parameter

"0031J00001GUqKDQA1', '003o0000013BwmbAAC', '003o0000016GIIZAA4', '0031J00001HdiPAQAZ', '0031J00001GVyt3QAD', '003o000000oiwDRAAY', '0031J00001LmvJRQAZ', '003o000001Bz7JaAAJ', '0031J00001JXRRqQAP', '0031J00001IwZ0PQAV', '0031J00001IBFFRQA5', '0031J00001HfyOgQAJ', '0031J00001HgRu2QAF"

In [47]:
tag_parameter

"a0n1J00000gK1a4QAC','a0n1J00000gK1aGQAS','a0n1J00000gK1YhQAK','a0n1J00000gK1YwQAK','a0n1J00000hSN2jQAG','a0n1J00000hSN27QAG','a0n1J00000hSN2hQAG','a0n1J00000hSN32QAG','a0n1J00000hSN2oQAG','a0no000000dozWdAAI','a0no000000dpHVMAA2','a0n1J00000hSN3MQAW','a0n1J00000hSN3ZQAW','a0n1J00000hSN3QQAW','a0no000000dozYdAAI','a0n1J00000hSN2GQAW','a0n1J00000hSN29QAG','a0no000000Pi72OAAR','a0n1J00000hSN2OQAW','a0no0000008kweeAAA','a0no000000dozf9AAA','a0no000000dozZIAAY','a0no0000008lW5GAAU','a0n1J00000hILaOQAW','a0n1J00000hSN3JQAW','a0n1J00000hSN3aQAG','a0no000000dozYyAAI','a0n1J00000hILZkQAO','a0n1J00000hILZsQAO','a0no000000dozc4AAA','a0no0000008kwiEAAQ"

In [66]:
exp_result = sf.query("""SELECT Id, Tag_Name__c, Tag_Type__c, 
                         Experience__c, Experience__r.Type__c, 
                         Experience__r.Name_Full__c, Experience__r.Date_Full__c  
                         FROM Tag_Experience__c WHERE Tag_Item__r.Tag__r.Id IN ('%s')
                         AND RecordTypeId = '012o0000000yXlE' 
                         AND Experience__c != NULL 
                         AND Experience__r.Contact__c = '0031J00001GUqKDQA1'""" 
                      % (tag_parameter,))

In [67]:
query_map3 = {
    "record_object": "Tag_Experience__c",
    "parent_object": "Experience__r",
    "parent_fields": ["Type__c", "Name_Full__c", "Date_Full__c"],
    "record_fields": ["Experience__c", "Id", "Tag_Name__c", "Tag_Type__c"]
}

exp_records = flatten_right(exp_result, query_map3)

In [68]:
df_exp = pd.DataFrame(exp_records)
df_exp.head()

,Date_Full__c,Experience__c,Id,Name_Full__c,Tag_Name__c,Tag_Type__c,Type__c
0,August 2008 - December 2011,a281J000000doWwQAI,a441J000000ookbQAA,"University of Virginia, Undergraduate",Colleagues,Audience,Degree
1,August 2008 - December 2011,a281J000000doWwQAI,a441J000000ooklQAA,"University of Virginia, Undergraduate",Systems,Content,Degree
2,August 2008 - December 2011,a281J000000doWwQAI,a441J000000ookvQAA,"University of Virginia, Undergraduate",Frameworks,Content,Degree
3,August 2008 - December 2011,a281J000000doWwQAI,a441J000000oolFQAQ,"University of Virginia, Undergraduate",Poverty,Focus Area,Degree
4,August 2015 - May 2017,a281J000000doX6QAI,a441J000000Hx1ZQAS,"Virginia Commonwealth University, Masters",Social Work,Responsibility,Degree